@import 'lib';

/* 사이트 상단 */
.site-header{height:50px;border-bottom:2px solid $color-main;text-align:center;
  &__logo{line-height:1;
    a{display:block;}
  }
}

/* 사이트 하단 */
.site-footer{background:#212141;color:#fff;padding:20px 0;font-size:13px;text-align:center;}

/* 사이트 컨텐츠 */
.content-wrap{padding:10px;background:#ecf5f5;}
.main-content{
  &__header{background:#fff;border-radius:3px;margin-bottom:10px;
    ul{@include clear-fix();padding:0 10px;}
    li{float:left;margin:5px;}
    a{display:block;text-align:center;padding:5px;font-size:13px;position:relative;
      span{position:relative;z-index:10}
      &::before{content:"";display:block;height:7px;left:50%;right:50%;bottom:3px;position:absolute;background:#c0ffff;transition:0.3s;}
      &.active::before{left:0;right:0;}
    }
  }
}
.news{
  &-main{position:relative;border-radius:3px;overflow:hidden;
    a{display:block;}
    a::before{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:60%;background-image:linear-gradient(to bottom, transparent, fade-out(#000, 0.5));z-index:10;}
    &__img{@include img-wrap($abs:true);padding-top:45%;}
    &__title{position:absolute;left:0;right:0;bottom:0;color:#fff;padding:20px 0;text-align:center;z-index:20;}
  }
  &-thumbs{margin-top:10px;
    @include clear-fix();
    li{@include img-wrap($abs:true);border-radius:3px;width:calc(50% - 5px);padding-top:calc(30% - 5px);float:left;
      &:nth-child(2n-1){margin-right:10px;}
      &:nth-child(3),
      &:nth-child(4){margin-top:10px;}
    }
    img{border-radius:3px;}
    &__title{position:absolute;bottom:0;left:0;right:0;font-size:13px;color:#fff;background:fade-out(#000, 0.3);padding:10px;border-radius:3px}
  }
  &-article{border-radius:3px;background:#fff;margin-top:10px;padding:10px;
    @include clear-fix();
    &__img{@include img-wrap($abs:true);width:30%;padding-top:20%;float:left;
      img{border-radius:3px;}
    }
    &__content{float:left;width:calc(70% - 10px);margin-left:10px;font-size:13px;line-height:1;padding:5px 0;}
    &__title{font-size:15px;font-weight:normal;letter-spacing:-0.5px;line-height:1.2;}
    &__regdate{font-size:13px;color:#aaa;margin-top:5px;
      svg{margin-right:5px;}
    }
  }
  &-detail{position:relative;z-index:20;background:#fff;border-radius:3px;padding:20px;letter-spacing:-0.5px;
    &__title{font-size:19px;font-weight:normal;padding-bottom:10px;}
    &__info{line-height:1;color:#666;font-size:13px;margin-bottom:20px;@include clear-fix();}
    &__publisher,
    &__regdate{float:left;}
    &__publisher::after{content:"";display:inline-block;vertical-align:middle;width:1px;height:10px;margin:-3px 5px 0;background:#bebebe;}
    &__thumbnail{margin-bottom:20px;}
    &__content{font-size:15px;line-height:160%;}
    &__content p{padding:10px 0;}
  }
}