@import 'lib';

/* 세로 가운데 정렬 트릭 */
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;
  +*{display:inline-block;vertical-align:middle;}
}

/* 버튼 모음 */
*.btn{display:inline-block;vertical-align:middle;padding:5px 7px;font-size:13px;color:#fff;
  &.small{font-size:11px;}
  &.big{font-size:17px;}
  &.main{background:$color-main;}
  &.default{background:#aaa;}
  &.blue1{background:$color-blue1;}
  &.blue2{background:$color-blue2;}
  &.red{background:$color-red;}
  &.yellow{background:$color-yellow;}
  &.green{background:$color-green;}
  &.full{width:100%;display:block;padding:10px 0;font-size:19px;}
  +.btn{margin-left:3px;}

  &-group{margin-top:20px;
    &.center{text-align:center;}
    &.left{text-align:left;}
    &.right{text-align:right;}
  }
}

/* vue transition */
.slide-left{
  &-enter{transform:translateX(100vw);
    &-active{transition:transform 0.5s;}
    &-to{transform:translateX(0);position:relative;z-index:20}
  }
  &-leave{
    &-active{transition:transform 0.5s;}
    &-to{transform:translateX(-50vw);position:absolute;left:10px;right:10px;z-index:10;}
  }
}