@import 'lib';

/* 세로 가운데 정렬 트릭 */
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;
  +*{display:inline-block;vertical-align:middle;}
}

/* 버튼 모음 */
*.btn{display:inline-block;vertical-align:middle;padding:5px 7px;font-size:13px;color:#fff;text-align:center;border-radius:3px;
  &.small{font-size:11px;}
  &.big{font-size:17px;}
  &.main{background:$color-main;}
  &.default{background:#aaa;}
  &.blue1{background:$color-blue1;}
  &.blue2{background:$color-blue2;}
  &.red{background:$color-red;}
  &.yellow{background:$color-yellow;}
  &.green{background:$color-green;}
  &.full{width:100%;display:block;padding:7px 0;font-size:17px;
    +.full{margin-top:3px;}
  }
  +.btn:not(.full){margin-left:3px;}

  &-group{margin-top:20px;
    &.center{text-align:center;}
    &.left{text-align:left;}
    &.right{text-align:right;}
  }
}

/* vue transition */
.slide-down{
  &-enter{height:0;
    &-active{transition:height 0.5s;overflow:hidden;}
    &-to{height:140px;}
  }
  &-leave{height:140px;
    &-active{transition:height 0.5s;overflow:hidden;}
    &-to{height:0;}
  }
}
.page-up{
  &-enter{transform:translateY(100%);
    &-active{transition:transform 0.5s;}
    &-to{transform:translateY(0);}
  }
  &-leave{transform:translateY(0);
    &-active{transition:transform 0.5s;}
    &-to{transform:translateY(100%);}
  }
}

/* 입력 영역 */
.legend{font-size:19px;margin-bottom:10px;
  &::before{content:"";display:inline-block;vertical-align:middle;margin-right:5px;width:5px;height:17px;background:$color-main;margin-top:-5px;}
}
.fields{background:#fff;border-radius:3px;border:1px solid #ddd;padding:20px 10px;
  & li+li{border-top:1px dotted #ddd;margin-top:15px;}
  &__list{display:block;cursor:pointer;padding:10px 0;
    +.fields__list{border-top:1px solid #ddd;}
  }
  &__label{display:block;margin-bottom:5px;}
  &__input{padding:10px 5px;border:1px solid #ddd;color:#666;border-radius:3px;transition:0.3s;font-size:15px;
    &::placeholder{color:#bbb;}
    &:focus{border-bottom:1px solid $color-main;outline:none;}
    &.full{box-sizing:border-box;width:100%;}
  }
  &__buttons{padding-top:15px;}
  &__custom-radio{display:inline-block;
    input{display:none;}
    span{display:block;border:1px solid #ddd;padding:5px 10px;font-size:13px;transition:.3s;cursor:pointer;border-radius:3px;background:#fff;}
    input:checked+span{border-color:$color-main;background:$color-main;color:#fff;}
  }
}