@import 'lib';
body,html,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6,section,article,figure,img{margin:0;padding:0;}
body{font-size:15px;font-family:$font;font-weight:400;}
a{text-decoration:none;color:inherit;}
input,select,textarea,button{font-family:inherit;font-size:15px;}
input,select,textarea,button,img{vertical-align:middle;}
input,textarea{border:1px solid #ddd;background:#fff;}
ul,li{list-style:none;}
img{max-width:100%;}