@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

body
  font-family 'Noto Serif KR', serif, Nanum Gothic, Malgun Gothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';

h1
  color $accentColor

.theme-default-content:not(.custom)
  max-width 800px

.navbar
  .home-link
    line-height 1
    text-align center
  img.logo
    display block
    height 20px
    margin-right 0
  span.site-name
    font-size 13px
    font-weight normal

.page
  padding-left 0

.sidebar
  left calc(50% + 440px)
  width auto
  border-right none
  background none

a.sidebar-link.active
  border-left none

.container
  width 1200px
  margin 0 auto

.siteFooter
  background #242729
  padding 30px 0
  font-size 13px
  color #848d95
  text-align center
  p
    padding 0
    margin 0

.copyright
  text-transform uppercase
  color #bbc0c4
  margin-top 50px